---
layout: default
make-smaller-titles: true
---


<div class="container-fluid index">
    <div class="row">

        <div class="col-md-12 main content-panel">

            <div class="gravatar">
                <img src="{{ site.title_image }}" class="img-circle about-image" height="150" width="150" alt="{{ site.title }}" />
            </div>

            <h1 class="header author-header" itemprop="headline">{{ site.title }}</h1>

            <div class="author-text">
                {{ site.title_description }}
            </div>

            {% include social_links.html %}
          </div>
          <div class="col-md-12 main content-panel">

            <div class="articles">

              <h2>Github Repositories</h2>

              <ul>
                  {% for github in site.categories.github limit: site.post_limit %}

                      <li>
                          <a href="{{ github.url | prepend: site.baseurl }}">{{ github.title }}</a>
                          <small class="hidden-xs">{{ github.date | date: "%B %-d, %Y" }}</small>
                      </li>

                  {% endfor %}
                  <li>
                      <small><i><a href="{{ site.baseurl }}/github/">more...</a></i></small>
                  </li>
              </ul>

            </div>

        </div>
		
		<div class="col-md-12 main content-panel">

            <div class="articles">

              <h2>Speaker deck</h2>

              <ul>
                  {% for deck in site.categories.deck limit: site.post_limit %}

                      <li>
                          <a href="{{ deck.url | prepend: site.baseurl }}">{{ deck.title }}</a>
                          <small class="hidden-xs">{{ deck.date | date: "%B %-d, %Y" }}</small>
                      </li>

                  {% endfor %}
                  <li>
                      <small><i><a href="{{ site.baseurl }}/deck/">more...</a></i></small>
                  </li>
              </ul>

            </div>

        </div>
		
		<div class="col-md-12 main content-panel">

            <div class="articles">

              <h2>Latest Articles</h2>

              <ul>
                  {% for article in site.categories.article limit: site.post_limit %}

                      <li>
                          <a href="{{ article.url | prepend: site.baseurl }}">{{ article.title }}</a>
                          <small class="hidden-xs">{{ article.date | date: "%B %-d, %Y" }}</small>
                      </li>

                  {% endfor %}
                  <li>
                      <small><i><a href="{{ site.baseurl }}/posts/">more...</a></i></small>
                  </li>
              </ul>

            </div>

        </div>
		
    </div>
</div>
